<section class="benefits">
    <h2 class="benefits__title">Why buy an alpaca?</h2>
    <ul class="benefits__list">
        <li class="benefits__item" id="one">
            <picture class="benefits__one">
                <source srcset="./images/png/toy@1x.png 1x, ./images/png/toy@2x.png 2x" type="image/png">
                <source srcset="./images/webp/toy@1x.webp 1x, ./images/webp/toy@2x.webp 2x" type="image/webp">
                <img src="./images/png/toy@1x.png" alt="toy">
            </picture>
        </li>
        <li class="benefits__item" id="two">
            <h3 class="benefits__subtitle">Valuable wool</h3>
            <p class="benefits__text">It is distinguished by its purity, fine fiber and strength.</p>
            <picture class="benefits__two">
                <source srcset="./images/png/brown@1x-min.png 1x, ./images/png/brown@2x-min.png 2x" type="image/png">
                <source srcset="./images/webp/brown@1x.webp 1x, ./images/webp/brown@2x.webp 2x" type="image/webp">
                <img src="./images/png/brown@1x-min.png" alt="brown">
            </picture>
        </li>
        <li class="benefits__item" id="three">
            <picture class="benefits__three">
                <source srcset="./images/png/white@1x.png 1x, ./images/png/white@2x.png 2x" type="image/png">
                <source srcset="./images/webp/white@1x.webp 1x, ./images/webp/white@2x.webp 2x" type="image/webp">
                <img src="./images/png/white@1x.png" alt="white">
            </picture>
            <h3 class="benefits__subtitle">Simple care and maintenance</h3>
            <p class="benefits__text">It is necessary to provide them with food, water and build a pen with a canopy or provide other shelter (clean, unheated room) in case of bad weather.</p>
        </li>
        <li class="benefits__item" id="four">
            <h3 class="benefits__subtitle">Alive toy</h3>
            <p class="benefits__text">Alpacas get along wonderfully with people, can participate in games with disabled children, and brighten up the loneliness of elderly people.</p>
            <picture class="benefits__four">
                <source srcset="./images/png/child@1x-min.png 1x, ./images/png/child@2x-min.png 2x" type="image/png">
                <source srcset="./images/webp/child@1x.webp 1x, ./images/webp/child@2x.webp 2x" type="image/webp">
                <img src="./images/png/child@1x-min.png" alt="child">
            </picture>
        </li>
        <li class="benefits__item" id="five">
            <picture class="benefits__three">
                <source srcset="./images/png/two@1x.png 1x, ./images/png/two@2x.png 2x" type="image/png">
                <source srcset="./images/webp/two@1x.webp 1x, ./images/webp/two@2x.webp 2x" type="image/webp">
                <img src="./images/png/two@1x.png" alt="white">
            </picture>
            <h3 class="benefits__subtitle">Friendly and cute pet</h3>
            <p class="benefits__text">Alpaca is a cute and funny animal that you can spend time with, forgetting about your problems and worries. By purchasing an alpaca, you acquire a positive friend who can give you a smile every day.</p>
        </li>
    </ul>
</section>