<section class="choose">
    <h2 class="choose__title">Choose your friend!</h2>
    <ul class="choose__list">
        <li class="choose__item" id="max">
            <picture class="choose__image">
                <source srcset="./images/png/max@1x.png 1x, ./images/png/max@2x.png 2x" type="image/png">
                <source srcset="./images/webp/max@1x.webp 1x, ./images/webp/max@2x.webp 2x" type="image/webp">
                <img src="./images/png/max@1x.png" alt="max">
            </picture>
            <ul class="choose__characteristics">
                <li class="choose__subitem">
                    <p class="choose__charact">Name</p>
                    <span class="choose__data">Max</span>
                </li>
                <li class="choose__subitem">
                    <p class="choose__charact">Age</p>
                    <span class="choose__data">6 years</span>
                </li>
                <li class="choose__subitem">
                    <p class="choose__charact">Type</p>
                    <span class="choose__data">Sury</span>
                </li>
                <li class="choose__subitem">
                    <p class="choose__charact">Characteristic</p>
                    <span class="choose__data">Favourite dish - hay</span>
                </li>
            </ul>
            <a href="#" class="choose__link">Watch photos of Max</a>
            <div class="choose__btn-wrap">
                <button class="choose__button">Wanna Max!</button>
            </div>
        </li>
        <li class="choose__item" id="liana">
            <picture class="choose__image">
                <source srcset="./images/png/liana@1x.png 1x, ./images/png/liana@2x.png 2x" type="image/png">
                <source srcset="./images/webp/liana@1x.webp 1x, ./images/webp/liana@2x.webp 2x" type="image/webp">
                <img src="./images/png/liana@1x.png" alt="liana">
            </picture>
            <ul class="choose__characteristics">
                <li class="choose__subitem">
                    <p class="choose__charact">Name</p>
                    <span class="choose__data">Liana</span>
                </li>
                <li class="choose__subitem">
                    <p class="choose__charact">Age</p>
                    <span class="choose__data">3,5 years</span>
                </li>
                <li class="choose__subitem">
                    <p class="choose__charact">Type</p>
                    <span class="choose__data">Suri</span>
                </li>
                <li class="choose__subitem">
                    <p class="choose__charact">Characteristic</p>
                    <span class="choose__data">Loves children</span>
                </li>
            </ul>
            <a href="#" class="choose__link">Watch photos of Liana</a>
            <div class="choose__btn-wrap">
                <button class="choose__button">Wanna Liana!</button>
            </div>
        </li>
        <li class="choose__item" id="christian">
            <picture class="choose__image">
                <source srcset="./images/png/christian@1x-min.png 1x, ./images/png/christian@2x-min.png 2x" type="image/png">
                <source srcset="./images/webp/christian@1x.webp 1x, ./images/webp/christian@2x.webp 2x" type="image/webp">
                <img src="./images/png/christian@1x-min.png" alt="christian">
            </picture>
            <ul class="choose__characteristics">
                <li class="choose__subitem">
                    <p class="choose__charact">Name</p>
                    <span class="choose__data">Christian</span>
                </li>
                <li class="choose__subitem">
                    <p class="choose__charact">Age</p>
                    <span class="choose__data">2 years</span>
                </li>
                <li class="choose__subitem">
                    <p class="choose__charact">Type</p>
                    <span class="choose__data">Wakaya</span>
                </li>
                <li class="choose__subitem">
                    <p class="choose__charact">Characteristic</p>
                    <span class="choose__data">Adores photosessions</span>
                </li>
            </ul>
            <a href="#" class="choose__link">Watch photos of Christian</a>
            <div class="choose__btn-wrap">
                <button class="choose__button">Wanna Christian!</button>
            </div>
        </li>
        <li class="choose__item" id="richi">
            <picture class="choose__image">
                <source srcset="./images/png/richi@1x.png 1x, ./images/png/richi@2x.png 2x" type="image/png">
                <source srcset="./images/webp/richi@1x.webp 1x, ./images/webp/richi@2x.webp 2x" type="image/webp">
                <img src="./images/png/richi@1x.png" alt="richi">
            </picture>
            <ul class="choose__characteristics">
                <li class="choose__subitem">
                    <p class="choose__charact">Name</p>
                    <span class="choose__data">Richi</span>
                </li>
                <li class="choose__subitem">
                    <p class="choose__charact">Age</p>
                    <span class="choose__data">1,5 years</span>
                </li>
                <li class="choose__subitem">
                    <p class="choose__charact">Type</p>
                    <span class="choose__data">Suri</span>
                </li>
                <li class="choose__subitem">
                    <p class="choose__charact">Characteristic</p>
                    <span class="choose__data">Very playful</span>
                </li>
            </ul>
            <a href="#" class="choose__link">Watch photos of Richi</a>
            <div class="choose__btn-wrap">
                <button class="choose__button">Wanna Richi!</button>
            </div>
        </li>
        <li class="choose__item" id="lilian">
            <picture class="choose__image">
                <source srcset="./images/png/lilian@1x.png 1x, ./images/png/lilian@2x.png 2x" type="image/png">
                <source srcset="./images/webp/lilian@1x.webp 1x, ./images/webp/lilian@2x.webp 2x" type="image/webp">
                <img src="./images/png/lilian@1x.png" alt="lilian">
            </picture>
            <ul class="choose__characteristics">
                <li class="choose__subitem">
                    <p class="choose__charact">Name</p>
                    <span class="choose__data">Lilian</span>
                </li>
                <li class="choose__subitem">
                    <p class="choose__charact">Age</p>
                    <span class="choose__data">4 years</span>
                </li>
                <li class="choose__subitem">
                    <p class="choose__charact">Type</p>
                    <span class="choose__data">Wakaya</span>
                </li>
                <li class="choose__subitem">
                    <p class="choose__charact">Characteristic</p>
                    <span class="choose__data">Loves dance with Scorpions</span>
                </li>
            </ul>
            <a href="#" class="choose__link">Watch photos of Lilian</a>
            <div class="choose__btn-wrap">
                <button class="choose__button">Wanna Lilian!</button>
            </div>
        </li>
        <li class="choose__item" id="businka">
            <picture class="choose__image">
                <source srcset="./images/png/businka@1x-min.png 1x, ./images/png/businka@2x-min.png 2x" type="image/png">
                <source srcset="./images/webp/businka@1x.webp 1x, ./images/webp/businka@2x.webp 2x" type="image/webp">
                <img src="./images/png/businka@1x-min.png" alt="businka">
            </picture>
            <ul class="choose__characteristics">
                <li class="choose__subitem">
                    <p class="choose__charact">Name</p>
                    <span class="choose__data">Businka</span>
                </li>
                <li class="choose__subitem">
                    <p class="choose__charact">Age</p>
                    <span class="choose__data">2,5 years</span>
                </li>
                <li class="choose__subitem">
                    <p class="choose__charact">Type</p>
                    <span class="choose__data">Suri</span>
                </li>
                <li class="choose__subitem">
                    <p class="choose__charact">Characteristic</p>
                    <span class="choose__data">Loves hugs</span>
                </li>
            </ul>
            <a href="#" class="choose__link">Watch photos of Businka</a>
            <div class="choose__btn-wrap">
                <button class="choose__button">Wanna Businka!</button>
            </div>
        </li>
    </ul>
</section>