<section class="video">
    <div class="video__wrap">
        <picture class="benefits__three">
            <source srcset="./images/png/video@1x.png 1x, ./images/png/video@2x.png 2x" type="image/png">
            <source srcset="./images/webp/video@1x.webp 1x, ./images/webp/video@2x.webp 2x" type="image/webp">
            <img src="./images/png/video@1x.png" alt="white">
        </picture>
    </div>
    <div class="video__button">
        <button class="video__btn">
            <svg class="video__triangle">
                <use href="./images/triangle.svg"></use>
            </svg>
        </button>
    </div>
</section>