<section class="who">
    <h2 class="who__title">Who are alpacas?</h2>
    <div class="who__wrapper">
        <div class="who__image-wrap">
            <picture class="who__image">
                <source srcset="./images/png/who@1x.png 1x, ./images/png/who@2x.png 2x" type="image/png">
                <source srcset="./images/webp/who@1x.webp 1x, ./images/webp/who@2x.webp 2x" type="image/webp">
                <img src="./images/png/who@1x.png" alt="logo">
            </picture>
        </div>
        <div class="who__info">
            <p class="who__text">Alpaca is a South American domestic animal of the camelid family. Alpacas live in the Andes at an altitude of 3,500-5,000 meters, in the territory of Ecuador, southern Peru, northern Chile and western Bolivia. These creatures were domesticated about 6,000 years ago by the Indians of Peru. First of all, alpacas are valued for their wool, from which blankets, clothing and much more are made.</p>
            <ul class="who__list">
                <li class="who__item">
                    <p class="who__subtitle">Wool</p>
                    <span class="who__data">24 natural shades</span>
                </li>
                <li class="who__item">
                    <p class="who__subtitle">Lifetime</p>
                    <span class="who__data">About 25 years</span>
                </li>
                <li class="who__item">
                    <p class="who__subtitle">Weight</p>
                    <span class="who__data">About 70 kg</span>
                </li>
                <li class="who__item">
                    <p class="who__subtitle">Main quality</p>
                    <span class="who__data">Nobility</span>
                </li>
            </ul>
        </div>
    </div>
</section>