<section class="wool">
    <h2 class="wool__title">What is the value of alpaca wool?</h2>
    <div class="wool__wrap">
        <div class="wool__item">
            <h3 class="wool__subtitle">Color range</h3>
            <p class="wool__text">Alpaca wool comes in 24 natural shades, from pure white, traditional beige or silver to brown and even black.</p>
        </div>
        <div class="wool__item">
            <h3 class="wool__subtitle">Hypoallergenic</h3>
            <p class="wool__text">Alpaca wool fiber does not contain lanolin, making it hypoallergenic.</p>
        </div>
        <div class="wool__item">
            <h3 class="wool__subtitle">Designers' love</h3>
            <p class="wool__text">Designer Giorgio Armani used alpaca suri wool in fashionable men's and women's suits.</p>
        </div>
        <div class="wool__item">
            <h3 class="wool__subtitle">Sportman`s love</h3>
            <p class="wool__text">Sports enthusiasts recognize that alpaca products are lighter and warmer, more comfortable in cold weather, so sportswear and outerwear manufacturers are starting to buy more alpaca products.</p>
        </div>
        <div class="wool__item">
            <h3 class="wool__subtitle">Quality products</h3>
            <p class="wool__text">The main advantage of alpaca wool products is that they practically do not form pellets - long fibers prevent felting</p>
        </div>
        <div class="wool__item">
            <h3 class="wool__subtitle">Subtlety and lightness</h3>
            <p class="wool__text">It does not retain water, is warm even when wet, and can effectively resist solar radiation.</p>
        </div>
        <div class="wool__item">
            <h3 class="wool__subtitle">Strength</h3>
            <p class="wool__text">Alpaca wool is three times stronger and seven times warmer than sheep's wool.</p>
        </div>
    </div>
</section>